body {
  background: linear-gradient(-45deg, #9b2abd, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 50s ease infinite;
  font-family: 'Trade Winds', cursive;
  font-weight: 600;
  text-align: center;
  color: black;
}

.contentCard {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.mainCard {
  display: flex;
  flex-direction: column;
  width: 100;
  margin-top: 1.5rem;
  padding: 20px 150px 20px 150px;
  justify-content: center;
  align-items: center;
  /* border: 2px solid rgba(0, 0, 0, 0.95); */
  border-radius: 65px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.invisible {
  visibility: hidden;
}

.toastIcon {
  margin-right: 10px;
  fill: rgb(255, 0, 0);
}

.roundCount>h2 {
  font-size: 25px;
  color:rgb(0, 0, 0);
  letter-spacing: -0.15rem;
  font-variant-numeric: tabular-nums;
}

.currTimer {
  font-size: 100px;
  letter-spacing: -0.15rem;
  font-variant-numeric: tabular-nums;
}

.timerActions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.timerActions>button {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  width: 50px;
  height: 50px;
}

.timerActions button:hover {
  background-color:rgb(224, 224, 224);
}

.displayTitle {
  color:#000;
  opacity: 0.6;
}

#mainWrapper {
  min-height: calc(100vh - 75px);
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#playButton {
  width: 80px;
  height: 80px;
}

#timerSelection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

#firstTwo, #secondTwo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#timerSelection>div>div {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#timerSelection>div>div>button {
  height: 100px;
  width: 130px;
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  line-height: 1.75;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  padding: 0.5rem, 0.5rem;
  border: none;
  border-radius:inherit;
}

#timerSelection>div>div>button>h2:nth-of-type(1) {

  font-size: 15px;
}

#timerSelection>div>div>button>h2:nth-of-type(2) {
  font-size: 1.5rem;
}

#simpleFooter {
  background: absolute;  
  width: 100%;
  height: 2.5rem;
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: 2rem;
}

#simpleFooter>a {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

#simpleFooter a {
  color:inherit;
}

#simpleFooter a:hover {
  color: rgba(32, 32, 32, 0.95);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.active {
  background-color:rgb(224, 224, 224);
  color:#000;
}

.notActive {
  color:#fff;
}


/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 1px) {
  .mainCard {
    padding: 20px 90px 20px 90px;
  }

  .currTimer {
    font-size: 75px;
  }

  #timerSelection {
    flex-direction: column;
  }

  #timerSelection>div>div {
    margin: 0.5rem;
  }
  
  #firstTwo, #secondTwo {
    flex-direction: row;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .mainCard {
    padding: 20px 90px 20px 90px;
  }

  .currTimer {
    font-size: 75px;
  }

  #timerSelection {
    flex-direction: column;
  }

  #timerSelection>div>div {
    margin: 0.5rem;
  }
  
  #firstTwo, #secondTwo {
    flex-direction: row;
  }
}

/* Medium devices (tablets, 768px and up) */
/* Large devices (desktops, 992px and up) */
@media (max-width: 768px) and (max-width: 992px) {
  .mainCard {
    padding: 20px 90px 20px 90px;
  }

  .currTimer {
    font-size: 75px;
  }

  #timerSelection {
    flex-direction: column;
  }

  #timerSelection>div>div {
    margin: 0.5rem;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  .mainCard {
    padding: 20px 90px 20px 90px;
  }

  .currTimer {
    font-size: 75px;
  }
}


@media (max-height: 600px) {
  .currTimer {
    font-size: 75px;
  }

  #timerSelection {
    flex-direction: row;
    margin-bottom: 1.5%;
  }

  #simpleFooter {
    background: fixed;  
    margin-bottom: 1%;
  }
}

@media (max-height: 600px) and (max-width: 576px) {
  #timerSelection {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  #timerSelection>div>div {
    margin: 0.5rem;
  }
  
  #firstTwo, #secondTwo {
    flex-direction: row;
  }
} 